.choose-a-day{
    width: 40%;
    margin: auto;
    margin-top: 30px;
}

.display-slots-btn{
    background-color: #5fa430 !important;
    color: white !important;
    margin-top: 20px  !important;
    margin-left: 130px !important;
}

.location-icon{
    color: #ff0101 !important;
    font-size: 63px !important;
}
.location-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
}

.ParkingLocationInnerCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ParkingLcoationOuterCard{
    background-color: #5fa430;
    margin: 30px;
    border-radius: 20px;
}

.selectionlocation{
    font-size: 20px;
}

.display-car-div, .display-car-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.innercontentCar{
    background-color: #d5f7d9;
    margin: 30px;
}

.slotNo{
    font-size: 30px;
    font-weight: 400;
    color: #5fa430;
    text-align: center;
    margin: 20px;
}

.viewDetails-btn{
    background-color: #5fa430 !important;
    color: white !important;
    margin-top: 20px  !important;
    margin-left: 90px !important;
}

.bookNow-btn{
    background-color: #5fa430 !important;
    color: white !important;
    margin-top: 12px  !important;
    margin-bottom: 12px  !important;
    margin-left: 97px !important;
}
.Modal{
    width: 100%;
    height: 100%;
    background-color: #ff0101;
}

.datetimepicker{
width: 100%;
}
.modal-book-now-btn{
    background-color: #5fa430 !important;
    color: white !important;
  
    margin-left: 120px !important;
    padding: 15px 50px !important;
}


input[type="datetime-local" i] {
    margin: 10px;
    padding: 15px;
    border: 2px solid green;
    border-radius: 16px;
}

.cancel-btn{
    background-color: red !important;
    color: white !important;
  
    margin-top: 12px  !important;
    /* margin-bottom: 12px  !important; */
    margin-left: 20px !important;
 /* margin-right: 12px !important; */
    margin-bottom: 13px !important;
}

.buttons-book{
    display: flex;
    flex-direction: row;
}

.css-1wnsr1i {
width: 700px !important;
height: 400px !important;
}
